* {
    box-sizing: border-box;
}

body {
    color: #FFF;
    background-image: url('./assets/cookies-bg.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    background: #117CFF;
    text-align: center;
    border: 3px solid #FFF;
    border-radius: 5px;
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    opacity: 0.9;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

label {
    font-size: 16px;
    padding: 10px;
}

#guess-input {
    font-size: 14px;
    border: none;
    width: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

button {
    color: rgb(41, 19, 2);
    background: #ECAF5B;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

#status, #results {
    display: none;
}

#win-lose {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}


